<% include partials/header %>

<div class="container my-4">
    <div class="row ">
        <% if (source == null) { %>
        <p>No results. Please try refining your search terms.</p>
        <% } else { %>
        <% source["results"].forEach(function(movie) { %>
        <div class="mb-4 list-group col-4">
            <div class="row mb-4 list-group-item-action align-items-start">
                <div class="col-5  d-inline-block pt-2">
                    <img style="height: 100%; width: 100%;" src="<%= img + movie.profile_path %>" alt="Card image">
                </div>
                <div class="col-7">
                    <div class="card-header">
                        <h4><strong><%= movie.name %></strong></h4>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Populerlik : <%= movie.popularity %></h5>
                        <strong>Oynadıgı Filmler</strong>
                        <br>
                        <%= movie.known_for[0].title %>
                        <br>
                        <%= movie.known_for[1].title %>
                        <br>
                        <%= movie.known_for[2].title %>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</div>

<% include partials/footer %>