<% include partials/header %>

<div class="container my-4">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-primary">
                    <a class="text-white" href="#">Filmler</a>
                    <span class="badge badge-primary badge-pill">142</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-secondary">
                    <a class="text-white" href="#">Diziler</a>
                    <span class="badge badge-primary badge-pill">212</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-success">
                    <a class="text-white" href="#">Oyuncular</a>
                    <span class="badge badge-primary badge-pill">21</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-danger">
                    <a class="text-white" href="#">Şirketler</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-primary">
                    <a class="text-white" href="#">Popüler Filmler</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-info">
                    <a class="text-white" href="#">Popüler Diziler</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-warning">
                    <a class="text-white" href="#">Çıkış Yapan Filmler</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-white bg-dark">
                    <a class="text-white" href="#">Çıkış Yapan Diziler</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="row ">
                <% if (source == null) { %>
                <p>No results. Please try refining your search terms.</p>
                <% } else { %>
                <% source["results"].forEach(function(movie) { %>
                <div class="mb-4 list-group col-6">
                    <div class="row mb-4 list-group-item-action align-items-start">
                        <div class="col-5  d-inline-block pt-2">
                            <img style="height: 100%; width: 100%;" src="<%= img + movie.poster_path %>"
                                alt="Card image">
                        </div>
                        <div class="col-7">
                            <div class="card-header">
                                <h4><strong><%= movie.title %></strong></h4>
                                <hr>
                                <small style="font-size:1rem;"><i><%= movie.release_date %></i></small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Populerlik : <%= movie.popularity %></h5>
                                <p class="card-text">Konusu : <%= movie.overview.substring(0, 90) %>...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>